<h1 xmlns="http://www.w3.org/1999/html">Enter details for galaxy</h1>

<%= form_for @grabber do |f| %>
    <% if @grabber.errors.any? %>
        <div id="errorExplanation">
          <h2><%= pluralize(@grabber.errors.count, "error") %> prohibited
            this request from being made:</h2>
          <ul>
            <% @grabber.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :galaxy %><br />
      <%= f.text_field :galaxy %>
    </p>
    <p> Features: <br />
        <% @grabber.list_of_features.each do |key, value| %>
            <%= check_box_tag('grabber[features][]',key) %>
            <%= label_tag(:features['key'], "#{key}: #{value}") %>    <br />
        <% end  %>

    </p>
    <p> Layers: <br />
        <% @grabber.list_of_layers.each do |key, value| %>
            <%= check_box_tag('grabber[layers][]',key) %>
            <%= label_tag(:layers['key'], "#{key}: #{value}") %>    <br />
        <% end  %>

    </p>
    <p><%= f.submit "Send Request" %></p>
<% end %>


